In [1]:
import pandas as pd

In [4]:
pd.DataFrame([[1,2,3],[4,5,6]])

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
pd.Series({"한국":"서울","중국":"베이징","일본":"도쿄"})

한국     서울
중국    베이징
일본     도쿄
dtype: object

In [6]:
pd.DataFrame({"a":[1,2],"b":[2,3],"c":[2,6]}, index=[1,2])

   a  b  c
1  1  2  2
2  2  3  6

In [8]:
pd.DataFrame([[1,2,3],[4,5,6]], index=[1,2], columns=["a","b","c"])

   a  b  c
1  1  2  3
2  4  5  6

In [12]:
pd.DataFrame({"한국":["서울","부산","제주"]}, index=[1,2,3])

   한국
1  서울
2  부산
3  제주

In [1]:
pd.DataFrame(np.random.randint(0,100, size=(10, 4)))

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
pd.DataFrame(np.random.randint(0,100, size=(10, 4)))

NameError: name 'np' is not defined

In [4]:
import numpy as np

In [6]:
pd.DataFrame(np.random.randint(0,100, size=(10, 4), columns=["국어","영어","수학","사회"]))

TypeError: randint() got an unexpected keyword argument 'columns'

In [7]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [8]:
def score():
    return np.random.randint(0, 100)

In [9]:
id()

NameError: name 'random' is not defined

In [10]:
import random

In [11]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [12]:
def score():
    return np.random.randint(0, 100)

In [13]:
id()

NameError: name 'string' is not defined

In [14]:
import string

In [15]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [74]:
def score():
    return np.random.randint(50, 100)

In [17]:
id()

'xPAdM'

In [51]:
score()

22

In [52]:
pd.DataFrame({"국어":[score() for i in range(10)], "영어":[score() for i in range(10)], "수학":[score() for i in range(10)], "사회":[score() for i in range(10)]}, index=[id() for i in range(10)])

       국어  영어  수학  사회
vdqyw  64   8  85  88
MLeLS  13  10  16  60
umKgP   5  70  10  86
gxtjL  46  14  29  42
zylfu  79  19  95  38
Yemmu  24  89  79  20
zHGmN   5  92  62  43
ZrhxL  27  31  45  51
Brtqm  24  68   5  33
XoqDh  14   9  93  13

In [34]:
pd.DataFrame(np.random.randint(50, 100, size=(10,4)), index=[id() for i in range(10)],columns=['국어','영어','수학','사회'])

       국어  영어  수학  사회
RALmi  50  53  88  60
RCdNu  94  58  58  50
CLlUG  97  85  53  56
lyPdP  54  64  51  65
nmGXP  79  53  88  69
TlROn  95  66  96  62
cRjbS  67  71  52  58
cdynK  98  56  94  87
BCeDV  91  86  89  87
KHhCC  52  99  90  84

In [77]:
pd.DataFrame([[score() for i in range(4)] for i in range(10)], index=[id() for i in range(10)], columns=['국어','수학','영어','사회']

SyntaxError: unexpected EOF while parsing (<ipython-input-77-b014a8b7648c>, line 1)

In [78]:
df = pd.DataFrame({"국어":score(), "영어":score(), "수학":score(), "사회":score()}, index=[id()])
for i in range(1,10):
    df.loc[id()] = {"국어":score(), "영어":score(), "수학":score(), "사회":score()}
df

       국어  영어  수학  사회
yirRB  99  88  66  63
yeSMa  92  82  82  70
pmETf  68  68  73  77
RBHWV  82  88  52  74
KERDm  72  77  64  83
CSuft  65  54  65  84
iTxik  68  72  87  81
NkOAl  96  58  64  68
HFMtx  52  82  95  93
advPk  99  88  68  76